body{
    background-color: rgba(255, 254, 252, 0.699);
    padding: 15px;
}

.cabecalho{
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.logo{
    display: flex;
    align-items: center;
}

hr{
    size: 9;
    width: 100%;
}

.conteudo{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: medium;
    text-align: center;
}


table{
    border-collapse: collapse;
    width: 50%;
    margin: 0 auto;
}
tr{
    border: 1px solid black;
}

td{
    
    text-align: center;
}
h1{
    color: #8a7d6d;
    margin-left: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h2{
    color: #723327fa;
}

h3{
    color: burlywood;
}
footer{
    justify-content: center;
    align-items: center;
}

.review{
    justify-content: center;
    padding: 15px;
    display: flex;
    align-items: center;
    width: auto;
    height: auto;
}